Assets/StreamingAssets/*.pb filter=lfs diff=lfs merge=lfs -text
git[[:space:]]lfs[[:space:]]track[[:space:]]Assets/StreamingAssets/.pb filter=lfs diff=lfs merge=lfs -text
/*.pb filter=lfs diff=lfs merge=lfs -text
